.txtLocation{
	-fx-background-radius: 0;
	-fx-background-insets: 0, 1 1 1 0;
}

.txtDLocation{
	-fx-background-radius: 3 0 0 3, 3 0 0 3, 2 0 0 2, 1 0 0 1;
	-fx-background-insets: 0, 1 1 1 1;
}

.button:focused,
.toggle-button:focused{
	-fx-background-insets: 0, 1, 2, 3, 3;
}

.btnBrowse{
	-fx-background-radius: 0 3 3 0, 0 3 3 0, 0 2 2 0, 0 1 1 0;
	-fx-background-insets: 0 0 -1 0, 0, 1 1 1 0, 2 2 2 0;
}

.btnBrowse:focused{
	-fx-background-radius: 0 3 3 0, 0 3 3 0, 0 2 2 0, 0 1 1 0;
	-fx-background-insets: 0, 1 1 1 0, 2 2 2 0, 3 3 3 0, 3 3 3 0;
}

#btnDirectory{
	-fx-background-radius: 0;
	-fx-background-insets: 0 0 -1 0, 0, 1 1 1 0, 2 2 2 0;
}

#btnDirectory:focused{
	-fx-background-radius: 0;
	-fx-background-insets: 0, 1 1 1 0, 2 2 2 0, 3 3 3 0, 3 3 3 0;
}

#btnFiles{
	-fx-background-radius: 3 0 0 3, 3 0 0 3, 2 0 0 2, 1 0 0 1;
}